.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  nz-card {
    width: 400px;

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.additional-actions {
  margin-top: 16px;
  text-align: center;

  a {
    padding: 8px 0;
  }
}
