<div class="login-container">
  <nz-card nzTitle="Login">
    <form nz-form (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              [(ngModel)]="credentials.username"
              name="Username"
              placeholder="Username"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              [(ngModel)]="credentials.password"
              name="Password"
              placeholder="Password"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox [(ngModel)]="rememberMe" name="rememberMe">
            Beni Hatırla
          </label>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">
        Log in
      </button>

      <div class="additional-actions">
        <a nz-button nzType="link" routerLink="/forgot-password">
          Forgot Password?
        </a>
      </div>
    </form>
  </nz-card>
</div>
