<nz-card
  [nzHoverable]="true"
  class="category-card"
  [routerLink]="['/app/categories', category.slug]"
>
  <div class="category-icon">
    <nz-avatar [nzShape]="'square'" [nzSize]="64" [nzSrc]="environment.apiUrl + '/images/categories/' + category.slug + '.png'"></nz-avatar>
  </div>
  <h3 class="category-title">{{ category.name }}</h3>
  <p class="category-description">{{ category.description }}</p>
  <nz-tag *ngIf="category.level === 0" nzColor="blue">Main Category</nz-tag>
  <nz-tag *ngIf="category.level === 1" nzColor="green">Sub Category</nz-tag>
  <div class="category-hierarchy">
    <small>{{ category.hierarchy }}</small>
  </div>
</nz-card>
