<div class="reset-password-container">
  <nz-card nzTitle="Reset Password">
    <form nz-form (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="mail">
            <input
              type="email"
              nz-input
              [(ngModel)]="email"
              name="email"
              placeholder="Email"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input reset token!">
          <nz-input-group nzPrefixIcon="safety-certificate">
            <input
              type="text"
              nz-input
              [(ngModel)]="resetToken"
              name="resetToken"
              placeholder="Reset Token"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input new password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              [(ngModel)]="newPassword"
              name="newPassword"
              placeholder="New Password"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please confirm your password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm Password"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">
        Reset Password
      </button>

      <div class="text-center mt-4">
        <a routerLink="/login">Back to Login</a>
      </div>
    </form>
  </nz-card>
</div>
