.product-card {
  height: 100%;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.05);
  }

  &:not(:hover) {
    transform: scale(1);
  }
}

.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  .price {
    color: #52c41a;
    font-weight: 500;
  }
}

.product-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock {
  font-size: 12px;
  color: #8c8c8c;

  &.low-stock {
    color: #ff4d4f;
  }
}
