<div class="forgot-password-container">
  <nz-card nzTitle="Forgot Password">
    <form nz-form (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="mail">
            <input
              type="email"
              nz-input
              [(ngModel)]="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">
        Send Reset Instructions
      </button>

      <div class="text-center mt-4">
        <a routerLink="/login">Back to Login</a>
      </div>
    </form>
  </nz-card>
</div>
